<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="font-size: xx-large;">Authenticate</a>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent" style="display: flex;">
        <ul class="navbar-nav mr-auto">
        </ul>
      </div>
      
        <div class="container" style="display: flex; justify-content: flex-end; align-items: center;">
        
            <div style="margin: 15px; padding: 10px;">
              <button class="btn btn-success form-control" class="nav-link"  routerLink='/login' style=" border-radius: 5px;">Login</button>
            </div>
            <div  style="margin: 15px; padding: 10px;">
              <button class="btn btn-primary form-control" type="submit" class="nav-link" routerLink="/register" style=" border-radius: 5px;">Register</button>
            </div>
          
        </div>

    </div>
  </nav>


